<div id="page-content">

<div class="container" id="home-container">
  <div class="jumbotron text-center">
  <div class="banner-content">
    <h1 class="display-4">Alpha Blog</h1>
    <p>This is a simple jumbotron-style component for calling extra atteention to featured content or information</p>
    <hr class="my-4">
    <p>It uses utility classes for typograpy and spacing to space content out within the large container</p>
    <%= link_to "sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>
</div>



</div>
