/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import "custom.css.scss";

.custom-navbar {
    background-color: black;
   
}

#logo {
    float:left;
    font-size:1.7em;
    text-transform:uppercase;
    letter-spacing: -1px;
    font-weight:bold;
    color:white;

}
.custom-navbar .nav-link,
.custom-navbar .nav-link.active {
  color: white !important;
}


.custom-navbar .dropdown-toggle {  color: white;}

.custom-navbar .navbar-brand {  color: white;}


.custom-navbar {  background-color: black;}.custom-navbar .nav-link {  color: white;}.custom-navbar .nav-link.active {  color: white;}.custom-navbar .navbar-brand {  color: white;}.custom-navbar .dropdown-toggle {  color: white;}

#home-container {
    margin-top: 25px;

}
.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdyaXRpbmd8ZW58MHx8MHx8fDA%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:425px;
    
}

.banner-content {
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
}

html,
body {
    height: 100%;
}


#page-content {
    flex: 1 0 auto;
    background-color: lightgray;
}

#sticky-footer {
    flex-shrink: none;
}

 
/*
 *= require_tree .
 *= require_self
 */

.flickr_pagination {
  text-align: center !important;
  padding: 0.3em;
  cursor: default;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.4em 0.7em;
  margin-right: 5px;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #ff0084;
}

.flickr_pagination a {
  border: 1px solid whitesmoke;
  color: white;
  text-decoration: none;
  background: gray;
  border-radius: 5px;
}

.flickr_pagination a:hover {
  border-color: gray;
  background: white;
  color: grey;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border: 1px solid #dddddd;
  padding: 0.4em 0.7em;
  border-radius: 5px;
}