<h1 class="text-center mt-4">Create a Category</h1>

<div class="container mt-4">
   <%= render 'form' %>
</div>
 <!-- 🔙 Cancel -->
      <div class="text-center mb-3">
        <%= link_to "[Cancel and return to categories]", category_path(@category), class: "text-decoration-none" %>
      </div>

    </div>
  </div>
</div>
                  